h1{
color: red
text-align:center;
}
a{
  text-align: right
}
.container{
  display: flex;
  align-items: center;
  flex-direction: row;
}
.content{
  display: flex;
  align-items: center;
}
.contents{
  display: flex;
  align-items: center;
}